---
 const personalImageAlt = "Emiliano Ciurcilo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-700 dark:[&>p>strong]:text-green-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Emiliano Ciurcilo <strong>desarrollador web full-stack</strong> en constante crecimiento, tengo con una fuerte pasión por crear experiencias de usuario intuitivas y eficientes. Con una <strong>sólida base en HTML, CSS, JavaScript, React y Bases de datos SQL</strong>, he desarrollado un conjunto de habilidades técnicas que me permiten construir aplicaciones web robustas y escalables.
    </p>

    <p>
      <strong>Actualmente, me encuentro cursando una carrera de desarrollo backend avanzado y una ingeniería en informática</strong>, lo que me permitirá profundizar mis conocimientos en el campo y estar al día con las últimas tendencias tecnológicas.
    </p>

    <p>
      A pesar de no contar con experiencia laboral formal, he desarrollado múltiples proyectos a lo largo de mis bootcamps, demostrando mi <strong>capacidad para aprender rápidamente y aplicar nuevos conocimientos</strong>. Mis proyectos, que abarcan desde el desarrollo de interfaces de usuario hasta la construcción de bases de datos, reflejan mi compromiso con la excelencia y mi habilidad para resolver problemas de manera creativa.
    </p>

    <p>
      Mis objetivos profesionales a corto plazo se centran en adquirir experiencia práctica en un entorno laboral real, colaborando en proyectos de desarrollo web y aprendiendo de profesionales más experimentados.
      A largo plazo, <strong>aspiro a convertirme en un ingeniero de software, capaz de liderar equipos y desarrollar soluciones tecnológicas innovadoras.</strong>
    </p>

  </div>

  <img width="200" height="200" src="/FotoCV.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
